[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Virender20bora
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Virender20bora
	label-Verified = -1..+1 group user/Virender20bora
	push = group user/Virender20bora
	read = group user/Virender20bora
	rebase = group user/Virender20bora
	removeReviewer = group user/Virender20bora
	submit = group user/Virender20bora
[access "refs/heads/*"]
	create = group user/Virender20bora
	push = +force group user/Virender20bora
	pushMerge = group user/Virender20bora
	read = group user/Virender20bora
[access "refs/tags/*"]
	push = group user/Virender20bora
	push = +force group user/Virender20bora
